 body{
        margin: 0; 
        font-family: sans-serif; 
        background-color: #ffffff;
        height: 100vh; 
    }

 #logo img{
    display: flex;
    margin-left: 1.2rem;
    margin-top: 0rem; 
    padding: 0.625rem;
 } 


ul{
    list-style-type: none;
    padding: 0.125rem;               
    gap: 0.5rem;              
}
ul li{
    display: block;
    float: left;
}

ul li a{
    display: block;
    background-color: rgba(185, 197, 206, 0.453);
    /* padding: 8px; */
    width: 6.25rem;
    padding: 0.5em 1em; /*new*/
    text-decoration: none;
    color: #000000;
    margin: 0.375em;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    /* new html */
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}
@media(max-width : 750px){
    ul{
    padding: 1px;         
    gap: 3px;              
    /* added */
    flex-direction: column;
    /* html */
     align-items: center;
        gap: 8px;
}
    ul li a {
        width: 150px; 
    }
 #uprdiv{
         flex-direction: column;
       }
}

.header-text-container {
    text-align: center;
}

li a:hover, li a.active{
    background-color: #ea8613;color: white;
    transform: scale(1.05);
}


p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    color: #000000;
}
#uprdiv{
     background-color: #f4f4f4bd;
     width: 100%; 
     display: flex;
     flex-direction: column;
}
.sunrise-text{
            font-family: 'Arial Black', sans-serif;
            font-size: 5rem;margin-top: -10rem;margin-bottom: 0rem;
            text-align: right;
            text-transform: uppercase;
            background: linear-gradient(to right, #f8b500,#f167a2, #fba100,#f167a2, #f15b50);
              /* Clips the gradient to the text */
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;           
}
.sunrise-text::first-letter{
    font-size: 7.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#sun{
    color: black;text-align: center;
    font-size: 1.56rem; margin-top: 0rem;
}
@media(max-width : 750px){
.sunrise-text{
        font-size: 2rem;
        text-align: center; 
        margin-top: 0.625rem;
        }

.sunrise-text::first-letter{
     font-size: 2.5rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#sun{
    color: black;text-align: center;
    font-size: 0.9375rem; 
    margin-top: 0rem;
}
        }
           

.para{
    background-color: #f4f4f4bd;
    padding: 0.75rem;
    display: flex;
}

h3{
    color: #000000;
}
.teach{
    color: #ffffff;
    background-color: #ea8613;
    /* border:2px solid #D91656; */
    padding: 0.5em
}

table , th ,td{
padding: 0.625rem;
border-collapse: collapse;
}

th,td{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 450;
    font-size: 1.19rem;
    color: #000000;
    background-color: #f4f4f4bd;
    text-align: center;
}
@media(max-width : 750px){
  th,td{
    font-size: 0.75rem;
    text-align: left;
}
}
#table{
    width: 100%;
    border-collapse: separate;
    /* border-spacing: 0 10.625rem; */
    border-spacing: 0 10px;
}
#table th{
    text-align: left;
    padding: 15px; background: #f1f5f9;
}
#table td{
    background: white;
    padding: 0.9375rem; border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
#table tr{
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem;
}

#table td:first-child{
    border-left: 0.25rem solid #ea8613;
    font-weight: bold; 
    border-radius: 0.5rem 0 0 0.5rem;
}
#table td:last-child{
    border-radius: 0 0.5rem 0.5rem 0;
}

a{
    font-weight: 500;
}

/* Like cols="25%" */
aside {
width: 85%;       
    background-color: #f4f4f4bd;
    padding: 1.25rem;
    margin: 0.625rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
aside img{
    margin: 0.625rem;
}

main {
width: 75%;      
padding: 1.25rem;
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: flex-start;
min-width: 25%;
} 

 /* Like cols="75%" */
 header, footer {
       background-color: #f4f4f4bd;
       color: #000000;
       padding: 0.93rem;
       text-align: center;
       width: 100%;
       display: flex;
       align-items: center;
       flex-direction: column;
       justify-content: center;
       gap: 0rem;
     }
     p{
       color: #000000; 
     }
 
/* Resets default margins */
        body { margin: 0; font-family: sans-serif; 
        }
    /* The CSS Animation Configuration */
@keyframes marqueeRight {
 0% {
    /* Starts shifted completely left out of view */
    transform: translateX(-50%); 
  }
  100% {
    /* Progresses completely to the right edge */
    transform: translateX(100%); 
  }
}

.ticket_wrapper{
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background: #ffffff;
    padding: 0.625rem 0;
    margin-top: 0rem; 
    display: block; 
    clear: both;
}
#moveRight{
   display: inline-block;
    white-space: nowrap;
    animation: marqueeRight 39s linear infinite; 
    margin: 0;
}
#moveRight span{
    display: inline-block;
    font-family: sans-serif;
    color: #000000;
    font-size: 1.5rem;
}
/* Flexbox container to align Sidebar and Main side-by-side */
.text-wrapper{
    display: flex;
     min-height: 80vh;
    flex-direction: row;
    gap: 1.25rem;
    width: 100%;
    margin-top: 1.25rem;
}
.left-column{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.left-column img{
    width: 100%;
    height: 15.625rem;
    width: 18.75rem;
    min-width: 9.375rem;
    min-height: 12.5rem;
}

.right-column{
    flex: 2;
    padding: 1.25rem;
    color: black;
}

 #transform-text{
    text-align: center;
    justify-self: center; 
    margin-top: 1.875rem; 
    margin: 1.25rem;
 }

 .hidden {
  display: none;
}
 .inside{
    background-color: #f4f4f4bd;
    width: 18.75rem; height: 1.25rem;
    transform-origin: center;
    margin: 0rem; align-content: center;
    width: 18.75rem; 
    height: 15.625rem;

    padding: 2.5rem; 
    text-align: center;
    font-weight: 900;  
    letter-spacing: 0.125rem;
    cursor: pointer; 
    transition: 0.3s;
 }
    #inside:hover{
     transform: scale(1.05);
     background: #ea8613;
    }
    .font{
        font-family: "Faster One", system-ui;
        font-weight: 400; font-size: 1.87rem;
        font-style: normal; color: black;
  }
  #overtransform{
    display: flex;
    flex-direction: row;
  }


/* additional */
 .main-fixed-header {
         /* position: sticky; */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0rem 0.25rem 0.625rem  rgba(0, 0, 0, 0.1); /* Adds depth above your background */
    display: flex;
    flex-direction: column;
}

.createrName{
     background: #000000; 
    color: #ffffff;
    text-align: center; 
    padding: 0.5rem;
    font-size: 1rem;
}

footer p {
    margin: 1.5625rem;
}

@media(max-width : 750px) {
    ul {
        padding: 0.0625rem;         
        gap: 0.5rem;              
        flex-direction: column;
        align-items: center;
    }
    
    ul li a {
        width: 9.375rem; 
    }
}

/* newwwwwwwwwwwwwwwwwwwwwwww */
/* Card Setup */
#overtransform { display: flex; justify-content: center; align-items: center; height: 100vh; font-family: sans-serif; }
.register { padding: 40px; background: #ea8613; color: white; border-radius: 12px; cursor: pointer; text-align: center;
            margin-top: -11em;}

/* Dialog Setup for Fullscreen */
dialog {
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  border: none;
  background: #ffffff; /* Form screen background */
  padding: 0;
}

/* Center form inside the full-screen dialog */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.reg-form { width: 100%; max-width: 360px; display: flex; flex-direction: column; gap: 15px; }
.reg-form input, .reg-form button { padding: 12px; font-size: 16px; border-radius: 6px; border: 1px solid #ccc; }
/* .reg-form button { background: #ea8613; color: white; border: none; cursor: pointer; } */

/* Top Corner Close Button */
.close-btn { position: absolute; top: 20px; right: 30px; font-size: 35px; background: none; border: none; cursor: pointer; }
.sub-btn{
    padding: 5px; font-size: 16px; border-radius: 6px; border: 1px solid #ccc; 
    background: #ea8613; color: white; border: none; cursor: pointer; 
    margin: 1em;
}

/* added */
@media(max-width : 750px){
    .ticket_wrapper {
        margin-top: 0rem;
    }
    
    #moveRight-span {
        font-size: 1rem; 
    }

    .text-wrapper {
        flex-direction: column;
        gap: 1.25rem;
        margin-top: 1.25rem;
    }

    #overtransform {
        flex-direction: column;
    } 
    .register {  margin: 0.6em;
        width: 13em; 
    }
}

.whatsapp-float{
    position: fixed; bottom: 20px; right: 20px;
    background: #25D366; color: #ffffff;
    padding: 12px 18px; border-radius: 50px;
    text-decoration: none; font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.02);
    z-index: 1000;
}
